[2018-07-26 08:18] xanderblinov opened #1 "Needs in sample project"
Add some sample project, please, for quick start.

Nice to see cases like:
- Very simple screen
- Screen with adapter
- Screen with lot of logic
- Shared logic in more then one screen

And of cause in context of library:
- Using labels
- Complex component

[2018-07-26 21:23] arkivanov commented on #1
Hey, thanks for the request, will do it soon!

[2018-07-30 20:36] #1 closed

[2019-10-11 08:21] arkivanov opened #2 "Convert MVIDroid to Kotlin Multiplatform"
Core implementation should not be tied to any reactive library. Separate modules for interop with Reaktive, Coroutines and RxJava.

[2019-10-11 08:22] arkivanov commented on #2
WIP

[2020-02-29 22:41] arkivanov opened #4 "Rename the repository to MviKotlin"
- Update publication urls (`setupPublication()`)
- Update Bintray repository config

[2020-03-06 15:04] #4 closed

[2020-03-06 15:05] arkivanov commented on #2
Fixed in #3

[2020-03-06 15:49] #2 closed

[2020-03-16 15:44] arkivanov opened #10 "Add time travel plugin for Android Studio"
Would be nice to have a plugin for Android Studio that will allow us to:

- Control the time travel feature
- Browse through recorded events
- Click on an event to see its details
- Fire an event for debugging

[2020-03-17 00:15] arkivanov opened #11 "Add ability to save and restore Store states"

[2020-03-18 10:11] arkivanov opened #12 "Write documentation"

[2020-03-19 19:10] #11 closed

[2020-03-30 18:43] arkivanov opened #18 "Implement sample todo details screen for iOS"
Details screen is already there for Android but is missing for iOS. Would be good to add one, same way as it is done for todo list screen: the business logic is already there and is shared, only UI part is missing (Swift UI).

Sample todo details screen for Android: https://github.com/arkivanov/MVIKotlin/tree/master/sample/todo-app-android/src/main/java/com/arkivanov/mvikotlin/sample/todo/android/

[2020-03-30 18:53] arkivanov opened #19 "Android sample: checkbox not updated when changed in the details screen"
STR:

1. Open an item from the todo list screen
2. Check/uncheck the checkbox
3. Close the details screen

AR: the corresponding item checkbox is not updated
E: the corresponding item checkbox is updated

It is supposed to be updated via database listening

[2020-03-30 18:57] sgallese commented on #18
I'll take a look at this @arkivanov this week.
If no update from me this week, fair game for anybody, but I'll try to report back my progress (or lack thereof).

[2020-03-31 07:45] sgallese commented on #18
Explored how View and Bindings work for MVIKotlin.
I need to update myself on the SwiftUI basics tomorrow, but should be able to get started.

Here was my experience reading the documentation and sample code: https://gitduck.com/watch/5e82ea9db7d7b8072195fc7b

[2020-03-31 09:06] #19 closed

[2020-04-01 06:39] sgallese commented on #18
New to UISwift, but it looks like NavigationView and NavigationLink would be helpful.

I see ContentView uses NavigationView, so I think we can place a TodoDetail view within the ContentView.

I need to set up the TodoRow to distinguish between a click that triggers the navigation vs deleting the item.
We will want TodoRow a similar flow to the Android app and handle onItemClicked.

Slow going, bu

[2020-04-02 18:25] Alex009 commented on #21
you can try [moko-resources](https://github.com/icerockdev/moko-resources)

[2020-04-02 19:45] arkivanov commented on #21
Yeah moko-resources should work. Alternatively you can inject some sort of string provider into shared code.

[2020-04-02 19:57] sgallese commented on #18
**ItemSelectionHandled Question**
@arkivanov is this the correct way to think about Event.ItemClicked vs Event.ItemSelectionHandled?

These are separate events because we want to:
1. click on an item, then receive an updated view showing the item as clicked
2. then when the view is updated, we want to fire ItemSelectionHandled, which navigates us to the details screen
?

I can see where the mappin

[2020-04-02 21:21] arkivanov commented on #18
**ItemSelectionHandled Question**

First of all this can be simplified now. We can just call `onItemSelected` callback directly from click listener:
[code]

Why is it like this? Previously onItemClick listener was receiving `index` instead of `id`. And in order to get the `id` we had to pass it through the `TodoListStore`.

There are two ways of doing navigation from a `Store`:
1. We can define a

[2020-04-04 21:42] sgallese commented on #18
Sorry for all of the questions.
Might be faster/easier to discuss on a video call.

**Binding the list**
In the iOS sample app, looks like we're binding the ViewModel directly to the SwiftUI list
https://github.com/arkivanov/MVIKotlin/blob/master/sample/todo-app-ios/todo-app-ios/TodoList.swift#L16

In Android, the ViewModel is passed to the renderer, and then the adapter is updated
https://github.

[2020-04-04 23:18] arkivanov commented on #18
Hey, here are the answers. If you need a video call please let me know.

**Binding the list**
This is done just for consistency with other diffing, but can be is not necessary at all. Anyway DiffUtil is used. It can actually be simplified like this:
[code]

So we can compare lists first by reference. Since they are immutable, if the references are same then there is no need to bother the adapter.

[2020-04-07 05:49] sgallese commented on #18
Thank you for the response, very helpful.
I think I'm in a bit over my head on the SwiftUI side, but it's been fun (and slow :) ) learning.

On the details screen, will will want these components:
TextField
Image (checkmark)
NavigationbarButton (trash)

Right now, I'm trying to figure out how the TodoDetails controller will fit into the picture.
Using NavigationLink, I can pass an item id in TodoD

[2020-04-07 08:03] arkivanov commented on #18
I would try separate SceneDelegates. There definitely should be tutorials for navigation or master-detail. 😀

[2020-04-07 16:36] arkivanov commented on #18
Btw the last video does not work

[2020-04-07 17:01] arkivanov commented on #18
Please pay attention that #22 has merged. Please use Lifecycle for Details screen.

[2020-04-09 07:02] sgallese commented on #18
Not sure if I've made progress, but it's been fun learning.

I don't see any examples using separate SceneDelegates.
I do see "multi-scene" apps using UIKit UIViewControllers, but not SwiftUI.

From the examples I've seen, it looks like developers are setting up their controller's in the view itself.

For example, playing with this project:
https://github.com/nalexn/clean-architecture-swiftui

You

[2020-04-09 09:24] arkivanov commented on #18
Thanks for the update! Let's try your idea as well. If I will find something from my side I will let you know.

[2020-04-12 18:24] sgallese commented on #18
@arkivanov, using the MVIDroid framework in your production apps,  was it very common for a controller to connect many views?

I ask this because another approach could be to have a separate controller for each view.

Pro:  Allows us not to have these parent "Controller Views" that glue together child views.
Cons: end up with a lot of boilerplate for each view, especially when views truly work tog

[2020-04-12 18:30] arkivanov commented on #18
@sgallese It depends. In this particular example I wanted to stress that there are no any limitations on this.

Also in this particular example the `TodoListView` and the `TodoAddView` are completely separate. What do you mean by "views truly work together"? I would rather split them for two different controllers each with its own `Store` and `View`.

[2020-04-12 18:33] sgallese commented on #18
I guess work together in the sense of the user experience. Yes, you're right, they are completely separate from a code perspective.

Ok, I'll try to finish this up today using the existing sample code, don't want to make any large change to the common code. Was just something I was thinking about.

Thank you for your patience and help- this has been fun :)

[2020-04-12 18:44] arkivanov commented on #18
Yeah, I just stopped thinking in screens. You can read more about this approach in this nice article: https://badootech.badoo.com/the-immense-benefits-of-not-thinking-in-screens-6c311e3344a0

There is no rush, take you time! Thanks for your contributions!

[2020-04-13 20:10] sgallese commented on #18
We have a working implementation!
Still some cleanup and refactoring todo.

I was able to wire up the Details lifecycle and controller within the Details SwiftUI View.
If a controller only needs one view, this is doable.

In the case of the List and Add view, I left the wiring in the scene delegate.
If this were a more complex application, we might move that logic into a ParentView to set up the c

[2020-04-13 22:15] arkivanov commented on #18
Looks awesome! Thanks!

[2020-04-14 14:33] arkivanov commented on #18
Hey, looks very cool! But is this a final UI? I would rearrange elements, e.g. input field could allocate the entire screen, the check box could be at the bottom, and the "delete" button could be in nav bar or maybe at the bottom as well.

[2020-04-14 22:59] arkivanov commented on #10
WIP: https://github.com/arkivanov/MVIKotlin/tree/time-travel-plugin

[2020-04-15 04:39] sgallese commented on #18
@arkivanov man, swiftui spacing is... interesting.
16fe998 moved delete to action item and the text field to top of screen and toggle to bottom.

I am having a hard time trying to center the toggle text/switch.
Also, looks like multi line text support in SwiftUi isn't easy (adding line limit with 5 and nil values and multiline alignment didn't help).

I could keep fiddling with this but scared to

[2020-04-22 13:51] arkivanov commented on #10
Some WIP video: https://www.youtube.com/watch?v=Tr2ayOcVU34

[2020-05-02 18:48] arkivanov commented on #18
Closed via #33. Thanks @sgallese for your contribution!

[2020-05-02 18:48] #18 closed

[2020-05-02 18:48] arkivanov commented on #12
Closed via #31

[2020-05-02 18:48] #12 closed

[2020-05-02 22:56] #10 closed

[2020-05-05 18:27] Skeptick opened #41 "Best practice: saving Store while configuration changes"
In the sample application, I did not find an example of how to save the Store and get the result of an asynchronous operation that was started before the configuration change. I would be glad to see your vision for this case.

[2020-05-05 19:22] arkivanov commented on #41
Good question! I will cover this in the documentation and in the samples. In short, you should use the [`StateKeeper`](https://github.com/arkivanov/MVIKotlin/blob/master/mvikotlin/src/commonMain/kotlin/com/arkivanov/mvikotlin/core/utils/statekeeper/StateKeeper.kt), and one of its default containers:

- [`ParcelableStateKeeperContainer`](https://github.com/arkivanov/MVIKotlin/blob/master/mvikotlin/

[2020-05-05 19:36] arkivanov commented on #41
When a `Store` is retained it should not be disposed. I will cover this case in sample.

[2020-05-05 19:46] arkivanov commented on #41
The last point (to not dispose the `Store` when it's retained) is actually not so easy. Please consider retained `Fragments` as a solution for now. I will keep this issue open until I find a solution.

[2020-05-05 20:13] Skeptick commented on #41
Thanks for the detailed answer! Earlier, I looked at examples and source code and found `ParcelableStateKeeperContainer` very useful for saving state when the Android application process dies :)

Regarding `Store` persistence ... Perhaps some way out of this situation would be to save `Store` in `androidx.lifecycle.ViewModel `and call `dispose` in the `onCleared` method? Although of course, in fac

[2020-05-05 20:26] arkivanov commented on #41
Yes, if you need to persist the state over process death then you you can make your `State` `parcelable` and use `ParcelableStateKeeperContainer`, or make your `State` serializable` and use `ParcelableStateKeeperContainer`. The `StateKeeper.register {}` callback is called when it's time to save state. In this callback you can modify the state (by making a copy) before saving, e.g. clear `isLoading

[2020-05-06 21:18] arkivanov commented on #41
The solution is on the way! #43

[2020-05-06 22:00] #41 closed

[2020-05-07 11:23] arkivanov opened #45 "Describe the StateKeeper in the documentation"

[2020-05-07 17:57] Skeptick opened #46 "Caching of Labels if no consumers"
Greetings again! Solution for saving `Store` is great, thanks! But I have one more question...

In the documentation for the library, you suggest using `Label` as a one-time event, and it's really very convenient. But we again encounter the Android lifecycle :(

For example, I want to notify `View` by means of `Label` about the need to display different dialogs or snackbars. But if `Label` comes w

[2020-05-07 18:43] arkivanov commented on #46
Hello! Yes this might be a problem indeed. In such cases I suggest to use state instead. You can raise a flag in the state and when view will receive this it should first produce an event to dismiss this flag and then handle it. I understand that it is boilerplate but this is the proper way.

[2020-05-07 19:44] Skeptick commented on #46
Yes, I know this way. Honestly, I always considered the need to handle one-time events through state to be the main disadvantage of the MVI pattern. Probably this method is correct for maintaining a state in a consistent form, and also allows to save a state in local storage. But... if events are not so important and do not affect the rest of the state, writing this boilerplate seems unnecessary.

[2020-05-07 19:58] arkivanov commented on #46
Yeah. If events are not so important it might be ok to miss them in such corner cases.

There is also a third (a bit hacky) way:
[code]

[2020-05-09 16:17] #46 closed

[2020-05-16 15:58] arkivanov opened #53 "Add sample todo for JS"
Would be nice to add some samples for JS. Consider using [Kotlin React wrappers](https://github.com/JetBrains/kotlin-wrappers/tree/master/kotlin-react).

- Implement [`TodoDatabase`](https://github.com/arkivanov/MVIKotlin/blob/master/sample/todo-common/src/commonMain/kotlin/com/arkivanov/mvikotlin/sample/todo/common/database/TodoDatabase.kt) (refer to implementations for [Android](https://github.c

[2020-05-16 16:02] maxtox3 commented on #53
I want to try

[2020-05-16 16:04] arkivanov commented on #53
Sold!

[2020-05-17 15:52] #45 closed

[2020-05-18 17:43] arkivanov commented on #53
@maxtox3 added some `@JsName` annotations here: #57. Feel free to comment if you think we need to add more.

[2020-05-18 18:24] maxtox3 commented on #53
Ok, thanks!

[2020-05-19 21:41] arkivanov commented on #53
A few more `@JsName` annotations added here #59

[2020-05-21 09:53] arkivanov commented on #53
Closing details screen when Delete button is clicked implemented here #65

[2020-05-21 20:43] arkivanov opened #66 "Logo wanted!"
The project needs logo but I'm not good at design. I will appreciate any help here. Ideally it should highlight Kotlin and MVI (or unidirectional data flow). I'm quite flexible here.

[2020-05-22 18:41] Zinot commented on #66
Let's connect

[2020-05-22 18:49] precious-omovoiye commented on #66
Hi @arkivanov, I would love to work on this.

[2020-05-22 18:53] arkivanov commented on #66
Sold! Thanks in advance!

[2020-05-23 09:26] precious-omovoiye commented on #66
You're are welcome

[2020-05-23 09:31] precious-omovoiye commented on #66
Does the project have a unique name like Angular, Laravel, Django and other frameworks?

[2020-05-23 09:38] arkivanov commented on #66
Yes, the name is MVIKotlin.

[2020-05-23 09:44] arkivanov commented on #66
The logo is supposed to be added to this GitHub project's README at the very top. You can check examples here: [Reaktive](https://github.com/badoo/Reaktive), [Ktor](https://github.com/ktorio/ktor), [moko-mvvm](https://github.com/icerockdev/moko-mvvm)

[2020-05-23 10:28] precious-omovoiye commented on #66
Alright, do you have any type of logo, and colour preference in mind?

[2020-05-23 10:57] arkivanov commented on #66
Well, nothing particular. Ideally I want it square or maybe rectangle. The primary idea is to somehow highlight the Unidirectional Data Flow. The secondary idea is to highlight Kotlin (not necessary). Colour preference would be colourful (blue, red, green, orange) but with limited amount of colours. Ideally without gradients.

Examples of random logos that I like:
<img src="https://user-images.git

[2020-05-23 11:47] arkivanov commented on #53
Closed by #58

[2020-05-23 11:48] arkivanov commented on #53
Thanks @maxtox3 !

[2020-05-23 11:48] #53 closed

[2020-05-23 11:50] arkivanov commented on #67
@maxtox3 would be nice if you could take this

[2020-05-23 11:58] maxtox3 commented on #67
I will try!

[2020-05-24 15:00] precious-omovoiye commented on #66
Alright

[2020-05-24 15:12] precious-omovoiye commented on #66
The reason you don't like Instagram and Firefox is it because of their gradient fill?

[2020-05-24 16:05] arkivanov commented on #66
Exactly

[2020-05-26 23:33] arkivanov opened #71 "Investigate (and create?) time travel Chrome plugin for JavaScript target"
The plugin should work similar to the IDEA time travel [plugin](https://github.com/arkivanov/MVIKotlin/tree/master/mvikotlin-timetravel-plugin-idea). It should somehow communicate to the [TimeTravelController](https://github.com/arkivanov/MVIKotlin/blob/master/mvikotlin-timetravel/src/commonMain/kotlin/com/arkivanov/mvikotlin/timetravel/controller/TimeTravelController.kt). Maybe we can implement a

[2020-05-28 02:42] precious-omovoiye commented on #66
![Logo-03](https://user-images.githubusercontent.com/48134134/83092361-0dc7f180-a095-11ea-8966-b599faa1ed69.jpg)
This is a sample, what's your thought?

[2020-05-28 02:51] precious-omovoiye commented on #66
The intertwining of the shapes makes reference to the idea of unidirectional data flow, with the way in which the blue square intertwines onto the orange square, the viewer is compelled to go through the shape in a unidirectional manner.

[2020-05-28 02:54] precious-omovoiye commented on #66
Let me know which style you would go with and if you have any observations, if there isn't any, then I will forward the logo in other suitable formats for use.

[2020-05-28 12:10] kissedcode commented on #66
I suggest:
![image](https://user-images.githubusercontent.com/18675884/83139571-45668600-a0f5-11ea-9386-84b1673dbfd5.png)

[2020-05-29 13:12] kissedcode commented on #66
![mvikotlin logo – Figma 2020-05-29 16-12-03](https://user-images.githubusercontent.com/18675884/83263386-318b5480-a1c7-11ea-9249-988db0818043.jpg)

[2020-05-29 17:31] arkivanov commented on #66
@kissedcode Unfortunately the "K" logo can not be used, I was told it violates Kotlin Foundation guidelines: https://kotlinlang.org/foundation/guidelines.html

[2020-05-29 17:33] arkivanov commented on #66
Also I was asked to rename the project, since "Kotlin" can not be used as well. 🤦‍♂️

[2020-05-29 17:37] arkivanov commented on #66
@precious-omovoiye Thanks for the sample. Can we try to tweak it a bit? Maybe remove the title and keep just the icon. Also would be nice to make blue colour lighter. And maybe transform the blue line into two arrows pointing one into another. What do you think?

And maybe as an experiment, maybe we can fill the blank space in the middle somehow? Maybe add a letter "M", or something... Not sure ho

[2020-05-29 17:41] arkivanov opened #72 "Find another name for the project. Please suggest."
I was told that the name "MVIKotlin" violates [Kotlin Foundation guidelines](https://kotlinlang.org/foundation/guidelines.html). So we need to find another name for the project. Suggestions are welcome!

[2020-05-29 19:33] arkivanov commented on #72
MVI.kt

[2020-05-29 19:34] arkivanov commented on #72
KtMVI

[2020-05-29 19:34] arkivanov commented on #72
MVI4Kotlin

[2020-05-29 19:34] arkivanov commented on #72
ReactiveMVI

[2020-05-29 20:39] ArturGajowy commented on #72
Probably a misnomer, but whatever:
rea.kt

[2020-05-29 20:53] Hexakosioihexekontahex commented on #72
KoMVIn

[2020-05-29 23:05] precious-omovoiye commented on #66
@arkivanov I will try it out and see

[2020-05-29 23:11] precious-omovoiye commented on #66
@arkivanov I had this feeling that having "MVI" and "KOTLIN" which are two unambiguous names, as the title of the project wasn't a good idea, that was why I earlier asked if there was a unique name for the project, have you been able to come up with a name yet?

[2020-05-29 23:14] arkivanov commented on #66
A new name will be there soon. You can propose your ideas here: #72

[2020-05-29 23:24] precious-omovoiye commented on #72
Alright

[2020-05-29 23:32] precious-omovoiye commented on #66
Alright

[2020-05-30 00:55] TylerMcCraw commented on #72
MVKotlintent

[2020-05-30 08:38] maxtox3 commented on #72
MviK

[2020-05-30 20:01] itscorey commented on #72
mvi-corotinho, corotinho, corotinho-kt, MVICorotinho.

[2020-06-01 06:26] Hexakosioihexekontahex commented on #66
![photo_2020-06-01_09-23-03](https://user-images.githubusercontent.com/20238244/83381660-e604c080-a3e9-11ea-8e11-abd14f2ac838.jpg)

[2020-06-01 07:16] Hexakosioihexekontahex commented on #66
![image](https://user-images.githubusercontent.com/20238244/83383948-db98f580-a3ee-11ea-89da-92111841626d.png)

[2020-06-01 22:24] arkivanov commented on #66
@Hexakosioihexekontahex thanks for the proposal but to me it looks very confusing. I can't find any relation between the person and a Kotlin MVI framework. Also I feel there is too much detail. I would prefer something simple and meaningful at the same time. Thanks!

[2020-06-02 06:03] Hexakosioihexekontahex commented on #66
No problem!

[2020-06-02 20:31] arkivanov commented on #72
Thanks guys for all your idea! I have started a poll [here](https://www.reddit.com/r/Kotlin/comments/gvf255/what_name_is_the_best_for_a_kotlin_multiplatform/).

[2020-06-03 13:21] precious-omovoiye commented on #66
Final touches are being made, once a name has been selected, I will input the name and forward the logo.

[2020-06-03 13:22] precious-omovoiye commented on #66
I've visited the poll though

[2020-06-03 15:10] arkivanov commented on #66
@precious-omovoiye The name is not decided yet. There is a little chance I will be able to keep the current one.

[2020-06-03 17:38] kissedcode commented on #66
so maybe you will be able to use Kotlin logo for your project)

[2020-06-03 18:43] arkivanov commented on #66
This is unlikely :-(

[2020-06-04 00:26] precious-omovoiye commented on #66
Alright, let's see how it goes.

[2020-06-05 23:41] arkivanov opened #75 "Introduce Detekt"

[2020-06-06 09:42] arkivanov commented on #72
I'm waiting for the response from Kotlin Foundation. There is a little chance I could keep the current name.

[2020-06-07 22:24] arkivanov opened #76 "Add IDE settings under version control"

[2020-06-09 22:07] arkivanov commented on #72
Still thinking about it

[2020-06-11 05:04] maxtox3 commented on #71
I am facing this for the first time, but I want to try

[2020-06-11 07:25] arkivanov commented on #71
Thanks @maxtox3, let me know if you need anything!

[2020-06-12 10:33] arkivanov commented on #72
Ok, I will keep the current name for now. If this will be raised again then I will rename to "MVI.kt". Thank you all guys for your ideas!

[2020-06-12 10:33] #72 closed

[2020-06-12 10:34] arkivanov commented on #66
@precious-omovoiye I will keep the current name for now.

[2020-06-13 04:31] precious-omovoiye commented on #66
Alright @arkivanov I will get the logo ready

[2020-06-16 09:38] Skeptick opened #80 "Access to CoroutineScope in SuspendExecutor"
Sometimes access to `CoroutineScope` is needed and I think it needs to be made `public`.

[2020-06-16 10:02] arkivanov commented on #80
Hey @Skeptick could you please provide a use case?

[2020-06-16 10:29] Skeptick commented on #80
An explicit `CoroutineScope` is required to use the `launch` coroutine builder. Yes, I can create my own `CoroutineScope`, but then I have to override the `dispose()` method and in general I don’t see the need for the additional `CoroutineScope`, if it is already there.

[2020-06-16 10:43] arkivanov commented on #80
You can always create a child scope in a suspend function:

[code]

This scope will be automatically closed when parent scope is closed.

[2020-06-16 10:54] Skeptick commented on #80
As far as I remember, in this case, the function will not exit until `launch` is completed (which contradicts the most common reason for using this coroutine builder). The correct solution giving automatic cancellation, along with the parent scope, would be:

[code]

But I'm not sure this is a good practice. And all of it forces to create additional `CoroutineScope` :)

[2020-06-16 11:06] arkivanov commented on #80
I think creating child `CoroutineScope` is the ideomatic way. You should not pass parent scope all over your code. You can spawn child scopes on demand using `coroutineScope {}` build, since parent scope is always known by coroutines machinery.

You can specify context as well:
[code]

[2020-06-16 11:26] Skeptick commented on #80
OK. Thanks. Maybe I'm wrong. I will try this way)

[2020-06-16 11:28] arkivanov commented on #80
Thanks for raising questions! Feel free to reopen if you have further questions.

[2020-06-16 11:28] #80 closed

[2020-06-19 14:24] precious-omovoiye commented on #66
@arkivanov Here is the logo, the zipped file contains the landscape and portrait versions of the logo with png, svg, and jpg formats for each and a simple logo guide also.
[MVIKOTLIN_Logo.zip](https://github.com/arkivanov/MVIKotlin/files/4805092/MVIKOTLIN_Logo.zip)

[2020-06-19 15:00] arkivanov commented on #66
@precious-omovoiye Thanks for your contribution, I like it! There are two folders in the archive `MVIKOTLIN` and `MVIKOTLIN_Logo`, are they just duplicate?

[2020-06-19 19:38] precious-omovoiye commented on #66
Yes they are, kindly ignore, you can just delete them

[2020-06-19 22:29] #66 closed

[2020-06-20 23:50] arkivanov opened #83 "Investigate (and create?) time travel server for Native and a client for macOS"
Looks like we can write time travel TCP server using POSIX which will be compatible with all Native targets. We can also create a TCP client for macOS with time travel UI. The question here is how to connect a client running on macOS host to a server running in an iOS app.

[2020-06-26 22:51] arkivanov commented on #71
I extracted most of the logic to common.
`:mvikotlin-timetravel-client:client-internal` - shared code for time travel clients;
`:mvikotlin-timetravel-proto-internal` - time travel protocol.

Not sure how this going to be implemented, but in general:

- a server should be in the `:mvikotlin-timetravel` module (same as for Android and Native);
- a client should be in a separate module (probably `:mv

[2020-06-27 18:37] #83 closed

[2020-06-30 23:04] arkivanov commented on #67
Closed by #74

[2020-07-12 16:50] heckslam opened #101 "Issue with Time travel debug"
When I try to connect to device, always receive the error: Error forwarding port via ADB. Make sure there is only one device connected. "
reproduced on emulator and real device.
`adb devices` shows only one device connected
OS: Mac os catalina
Plugin version: 2.0.0-rc1
Android studio version: 4.0.0, 4.1.0 beta 3

[2020-07-12 17:03] arkivanov commented on #101
Thanks, I will check this! Would you mind posting the full output of the `adb devices` command output?

[2020-07-12 17:18] heckslam commented on #101
sure.
Real device:
[code]
Emulator
[code]

[2020-07-12 17:37] arkivanov commented on #101
@heckslam Would you mind to connect just one (any) device and provide an output of the following command as well?
`adb forward tcp:6379 tcp:6379; echo $?`

[2020-07-12 18:18] heckslam commented on #101
the output:
[code]

[2020-07-12 18:19] heckslam commented on #101
for the second time it just outputs zero

[2020-07-12 18:35] arkivanov commented on #101
Thanks! So everything is fine with `adb`. I suspect you chose `adb` incorrectly at the very beginning. Could you please try the following:

- uninstall the plugin
- restart IDE
- install the plugin again
- restart IDE
- connect a device with an application running the `TimeTravelServer` (e.g. the [sample Android app](https://github.com/arkivanov/MVIKotlin/tree/master/sample/todo-app-android))
- cl

[2020-07-12 21:43] heckslam commented on #101
I reinstalled the plugin, but it still shows the error. Even tried to clear cache of plugins. file chooser dialog does not show up

[2020-07-12 22:41] arkivanov commented on #101
@heckslam This is a very interesting situation. I tried both Android Studio 4.0 and 4.1 Beta 3, on Ubuntu and MacOS Catalina. The following file chooser dialog appears when I click on the "Connect" button:
![image](https://user-images.githubusercontent.com/26204457/87258112-e9ae4d00-c455-11ea-991f-d38f3a545854.png)

If you don't mind I would build a special version of the plugin with some debug me

[2020-07-12 22:50] arkivanov commented on #101
Also could you please try the following:

- Open Help | Edit Custom VM Options
- Add the following line `-Dide.mac.file.chooser.native=false`
- Restart IDE
- Try clicking the "Connect" button

[2020-07-12 23:27] arkivanov commented on #101
I have also made some fixes and added some meaningful logs. Would be great If you could try the attached build. If the problem still there (no file chooser dialog), could you please attach IDE logs file (Help | Show Log in Finder)?
[plugin-idea-2.0.0-rc1.zip](https://github.com/arkivanov/MVIKotlin/files/4909888/plugin-idea-2.0.0-rc1.zip)

[2020-07-13 08:57] heckslam commented on #101
I read the logs myself. I don’t know how, but by default the wrong path to adb was chosen _(It threw error=13, Permission denied)._ So I just renamed the directory to that path and the plugin suggested me to select path to adb. File selector dialog showed up and everything began to work great🥳. Thank you so much for your help

[2020-07-13 08:58] heckslam commented on #101
I think it would be great to have more meaningful error message for that error instead of port forwarding issue

[2020-07-13 09:23] arkivanov commented on #101
@heckslam thanks for the update! I will update the plugin with more meaningful error messages.

[2020-07-13 21:33] arkivanov commented on #101
Fixed via #105 and #107

[2020-07-13 21:33] #101 closed

[2020-07-13 22:31] arkivanov opened #108 "Cover :sample:todo-coroutines module with tests"
Tests should be same as for :sample:toto-reaktive module

[2020-07-16 16:56] arkivanov opened #112 "Provide a way to unregister from StateKeeper"

[2020-07-16 16:57] arkivanov commented on #112
Currently there is no way to unregister from `StateKeeper`. This may cause memory leaks.

[2020-07-20 00:02] arkivanov commented on #112
Closed via #116

[2020-07-20 00:02] #112 closed

[2020-07-31 15:57] Skeptick opened #127 "Job does not have time to cancel and calls render after a view is destroyed"
Hello! In my application, I store a navigation action in a state, and also use the `NavController::addOnDestinationChangedListener` to tell the `Store` that the navigation action has been completed and can be nullified. Thus, `Store` generates a new state at the very edge before destroying the view. Today I ran into the fact that 1 time out of 10, the state arrives in the `render` method too late,

[2020-07-31 17:03] arkivanov commented on #127
Hello @Skeptick, would you mind to provide a reproducer?

[2020-07-31 17:54] Skeptick commented on #127
I'll try to do it on the weekend if I have time.

[2020-07-31 17:55] arkivanov commented on #127
Thanks, this would really helpful!

[2020-07-31 23:42] Skeptick commented on #127
Due to the fact that the application and views are very simple, the problem is reproduced much less often, but sooner or later it is reproduced :)

[sample.zip](https://github.com/arkivanov/MVIKotlin/files/5009383/sample.zip)

[2020-07-31 23:44] arkivanov commented on #127
Thanks, I will check!

[2020-08-01 12:50] Skeptick commented on #127
Also, for reproduce, you can run a similar coroutine when creating a `Store`:
[code]
That is, my case is not particularly rare. This can be achieved simply by having a Job updating the view state in the background. I checked, `yield()` in binder also solved this problem.

[2020-08-01 14:21] arkivanov commented on #127
@Skeptick Thanks! Could you please elaborate what you mean by `having a Job updating the view state in the background`. View updates should be performed always on the main thread.

[2020-08-01 14:29] Skeptick commented on #127
Oh yes, this is probably a bad name for the issue. I didn't mean a background thread, but something like "background work".

[2020-08-01 14:53] arkivanov commented on #127
@Skeptick  Thanks for the reproducer, this was really helpful.

So, the binder uses the `Main` dispatcher by default, which posts events asynchronously. Actual view update happens when the `Lifecycle` is already destroyed and the corresponding `Job` is cancelled. This really looks like a bug in coroutines machinery. The coroutine is resumed from the suspention point and is being executed even if i

[2020-08-01 14:54] arkivanov commented on #127
I will also consider using `Dispatchers.Main.immediate` by default, if possible.

[2020-08-01 15:04] Skeptick commented on #127
Oh, thank you!

[2020-08-01 21:50] #127 closed

[2020-08-08 18:25] arkivanov opened #129 "2.0.0 release - API feedback"
I'm about to release first stable release. And any API change after the release will be very unwanted. So if somebody has any concerns it's a good time to raise them.

Personally I'm thinking about renaming `Intent` to `Msg` to avoid confusion with Android intents. But I'm not sure. Would like to hear about it as well.

Thanks!

[2020-08-12 15:22] JWood48 commented on #129
My 5 cents:

Please keep as Intent, since it is MVI and not MVM architecture...

Intent means you intent to do something, Msg is just a message...

[2020-08-18 07:22] JWood48 opened #137 "Cannot find module MVIKotlin-mvikotlin"
I'm trying to use MVIKoltin on Kotlin 1.4.0, but i get this error:

Uncaught Error: Cannot find module 'MVIKotlin-mvikotlin'

I have included all the mvikotlin dependencies...

[2020-08-18 07:24] AlexeyKorshun commented on #137
MVIKotlin have not adopted for kotlin 1.4

[2020-08-18 08:25] arkivanov commented on #137
Yep, as mentioned above MVIKotlin uses Kotlin 1.3.72 at the moment. I will update during this week.

[2020-08-20 17:00] arkivanov opened #140 "LifecycleRegistry should call observers in opposite direction when shutting down"

[2020-08-24 14:20] denislfernandez opened #145 "Issue with mvikotlin-extensions-coroutines based store implementation on JS target"
Hi,

I'm encountering the following error when trying to use the store and related coroutine based implementations of the mvikotlin-extensions-coroutines package on a JS browser target.

`ReferenceError: observer$ObjectLiteral is not defined`

Both with my project and with the sample Todo project the issue is met. The easiest way to reproduce the error is executing the `browserDevelopmentRun` task

[2020-08-24 15:00] arkivanov commented on #145
Thanks for reporting the issue, I will check

[2020-08-25 21:01] #145 closed

[2020-08-25 22:17] #108 closed

[2020-09-10 14:22] arkivanov opened #152 "Update Kotlin to 1.4.10"

[2020-10-03 12:42] bachlis commented on #152
Hello there,
This sounds simple enough. May I work on it?

[2020-10-03 12:43] arkivanov commented on #152
@bachlis Absolutely! Thanks!

[2020-10-03 12:44] arkivanov commented on #152
Just bump the version [here](https://github.com/arkivanov/MVIKotlin/blob/master/buildSrc/buildSrc/src/main/kotlin/dependencies/Deps.kt#L5)

[2020-10-03 12:50] bachlis commented on #152
Do you have a Contributions.md or a general "how to build and run the project" document?

[2020-10-03 14:13] arkivanov commented on #152
Closed via #162

[2020-10-03 14:14] #152 closed

[2020-10-03 14:18] arkivanov commented on #152
There is no contribution guidelines currently. But there are tests and CI setup, so every PR is built and covered.

[2020-10-03 14:18] arkivanov commented on #152
To build everything locally just run `./gradlew build`

[2020-10-04 10:51] arkivanov commented on #129
2.0.0 is released! Thanks everyone!

[2020-10-04 10:51] #129 closed

[2020-10-05 14:28] t1r opened #165 "Lost labels on init fragment view issue"
Hi there.
Idk, it may be not a bug, but...

When we call `store.accept(PermissionsStore.Intent.MapReady)` like in a real use case with google map, when we wait until google map will be ready and `OnMapReadyCallback` are called.
Handle this intent in store, and try to send a label, which calls a fragment method with showing dialog, for example. But we lost the sent label.

Because in the `DefaultSt

[2020-10-05 14:47] arkivanov commented on #165
Hello! Thanks for the report. You bind `Store.labels` to `consumeEvent` using view lifecycle BinderLifecycleMode.CREATE_DESTROY in `onViewCreated` method. And you are sending `Intent.MapReady` from the same method - `onViewCreated`. Unfortunately, at this point view's Lifecycle is in INITIALIZED state, which means the binding is not yet happened. In your particular case you can bind `Store.labels`

[2020-10-06 06:54] t1r commented on #165
Thank You for advice. But it's work only if we add something like this: `post.{callSetupGmapMethod()}`
e. g.
https://github.com/t1r/MVIKotlin-Resolve/commit/118e850c29480228be97ead5b7ae10de97ebb169

I don't sure about the reliability code with `post`. But it's kind of work and I use `post` with MVICore, ok.

And extra question, if we move labels binding
[code]
to the controller's constructor, we n

[2020-10-06 10:35] arkivanov commented on #165
It depends on what you are binding. E.g. Labels are available once the `Store` is created, so they can be bound from this point. But it also depends on the receiver's availability. So, I would say, every case is special.

Regarding your particular case, you can also do the following:
[code]

[2020-10-14 10:52] #165 closed

[2020-10-17 14:21] mochadwi opened #166 "Does this library overkill if used for android only?"
This library is awesome, and our team wants to implement this for Android only (maybe for now, hopefully in the long run we're developing for KMM as well)

[2020-10-17 15:34] arkivanov commented on #166
Thanks! There is no any additional overhead due to multiplatform compatibility. The core functionality is very tiny and does not depend on any library/framework. You can pick one of the existing extensions (for coroutines or Reaktive) or create your own. Also if you are planning to use it in an existing project, then you can introduce it gradually (e.g. in one of the new features) and check if you

[2020-10-17 19:52] arkivanov commented on #166
Also welcome to the Slack channel where you can ask any questions: [#mvikotlin](https://kotlinlang.slack.com/archives/C01403U1ZGW)

[2020-10-17 21:47] mochadwi commented on #166
Thanks for the reply, great I'm already joined the slack channel!

[2020-10-17 21:47] #166 closed

[2020-11-03 18:38] arkivanov opened #167 "Use the new desktop Jetpack Compose for macOS time travel client"

[2020-11-03 18:42] AlexeyKorshun commented on #167
it is about alpha?

[2020-11-03 18:53] arkivanov commented on #167
It is about the new Jetpack Compose for desktop! https://www.reddit.com/r/Kotlin/comments/jn6wio/wowcompose_desktop_maclinuxwin_is_now_available/
Looks like it is possible to write Java apps with bundled JVM and Jetpack Compose UI.
So we should just investigate it and possible use. The current macOS time travel client is a pure native app with UIKit. If using JVM here, we could reuse existing code

[2020-11-08 14:32] arkivanov opened #169 "Replace Serializable with Parcelize in sample TodoDetailsFragment"
TodoDetailsFragment.Arguments is Serializable, better to use Parcelize.

[2020-11-09 20:57] arkivanov commented on #75
Closed via #170

[2020-11-09 20:57] #75 closed

[2020-11-09 20:59] arkivanov commented on #71
Alternatively we can investigate a common stand-alone client app using the new Compose for Desktop. Filed #167.

[2020-11-09 21:01] arkivanov commented on #167
Since Compose for Desktop can be packaged for macOs, Linux and Windows, it worth to make this client generic. So it it could connect to an arbitrary host/port, not only localhost.

[2020-11-29 10:49] arkivanov opened #171 "Describe Labels in the documentation"

[2020-12-08 06:48] LDuncAndroid commented on #169
Hi @arkivanov,

Can I pick this issue up?

[2020-12-08 07:01] arkivanov commented on #169
Sure, go ahead!

[2020-12-08 17:11] LDuncAndroid commented on #169
I've submitted a PR which I think should suffice. I wasn't sure of what you expected as there's no CONTRIBUTING file in the repo. I ran the `allTests` task before committing and it passed so let's hope the Checks do to :+1:

[2020-12-08 17:13] LDuncAndroid commented on #169
PR is here: https://github.com/arkivanov/MVIKotlin/pull/172

I thought Github might have picked up on the issue number but I guess it didn't. I'll change my template to use `#{number}`

[2020-12-08 17:19] LDuncAndroid opened #173 "Conditional GH Actions determined by module/sourceset/architecture"
Just something that I thought might be worth adding. I made a small PR here that would have only affected the `sample/todo-app-android` module but the Checks that are required for the PR build all the architectures.

Just to save on some :watch:  and :moneybag:

## References

- https://buffer.com/resources/selectively-running-android-modularized-unit-tests-on-your-ci-server/
- https://stackoverfl

[2020-12-08 23:08] arkivanov commented on #173
Thanks! Tests are parallelized per platform, so they are pretty fast. But I will consider this.

[2020-12-09 15:17] #169 closed

[2020-12-09 15:17] arkivanov commented on #169
@LDuncAndroid thanks for your contribution!

[2020-12-09 16:09] LDuncAndroid commented on #169
No problem. Happy to pick up more in the future. I've been looking for a good MVI framework and will likely look into using this on a project.

[2021-01-23 11:08] arkivanov opened #178 "Use Desktop Compose in IDEA plugin"
More information:
https://github.com/JetBrains/compose-jb/tree/master/examples/intelliJPlugin

[2021-01-23 23:48] arkivanov opened #179 "Update Store documentation: Executors and Bootstrappers can not be objects (singletons)"
Executors and Bootstrappers are stateful, and so can not be objects (singletons), they should always be classes. We should add this information to the [docs](https://github.com/arkivanov/MVIKotlin/blob/master/docs/store.md), into corresponding sections.

[2021-02-02 22:55] arkivanov commented on #178
Compose requires Java 11, maybe later

[2021-02-02 22:55] #178 closed

[2021-02-10 14:36] Shabinder opened #180 "Error: java.lang.NoClassDefFoundError: android/os/Looper in: DefaultStore.kt:31"
**Caused by: java.lang.NoClassDefFoundError: android/os/Looper**
 at kotlinx.coroutines.android.AndroidDispatcherFactory.createDispatcher(HandlerDispatcher.kt:55)
 at kotlinx.coroutines.android.AndroidDispatcherFactory.createDispatcher(HandlerDispatcher.kt:52)
 at kotlinx.coroutines.internal.MainDispatchersKt.tryCreateDispatcher(MainDispatchers.kt:57)
 at kotlinx.coroutines.internal.MainDispatcher

[2021-02-10 14:47] arkivanov commented on #180
@Shabinder Could you please also provide `build.gradle` of the shared module and of the desktop app module?

[2021-02-10 14:52] Shabinder commented on #180
**Desktop Build Gradle:**
[code]

Common Module:

import org.jetbrains.compose.compose

[code]

[2021-02-10 14:57] arkivanov commented on #180
It is a very weird crash. Am I right that the crash in on Desktop only? For some reason it uses `Dispatchers.Main` for Android. It is hard to get more details without a reproducer. Would you be able to provide it?

[2021-02-10 15:49] Shabinder commented on #180
Yup , its desktop only, what do you mean by reproducer

[2021-02-10 15:55] arkivanov commented on #180
@Shabinder By reproducer I mean a project that I could debug.

[2021-02-10 17:52] Shabinder commented on #180
@arkivanov I have invited you as a collaborator ,so that you may have access to private repo's Project , which might help you in debug.
![image](https://user-images.githubusercontent.com/44765050/107550273-d4212180-6bf6-11eb-967f-f4a12a01b6f9.png)

[2021-02-10 20:02] arkivanov commented on #180
@Shabinder Thanks for the reproducer! So the is issue is because you added `accompanist` libraries to the `commonMain` source set. These libraries are Android only, they can't be used in common code.

[2021-02-10 20:48] Shabinder commented on #180
oops.., Thanks @arkivanov removing accompanist libs did the trick. I forgot to remove them while I was experimenting.

[2021-02-10 20:48] #180 closed

[2021-02-23 10:56] Shabinder opened #186 "[Help] Upon List Item change in State , LazyColumn Item Not Recomposing"
**I have following State :**
![image](https://user-images.githubusercontent.com/44765050/108833162-6f9c9400-75f2-11eb-863b-bf4aba0348cd.png)

**An Intent which cause reducer to change state by updating list item's property,like:**
![image](https://user-images.githubusercontent.com/44765050/108833367-bb4f3d80-75f2-11eb-97bb-fa82fda79b63.png)

**Consuming the state as following in UI:**
![image](htt

[2021-02-23 11:28] arkivanov commented on #186
@Shabinder the provided pieces of code look good, I will need a reproducer project to check.

[2021-02-23 11:31] arkivanov opened #187 "Store.states extension properties should return StateFlow and BehaviorObservable"

[2021-02-23 11:54] Shabinder commented on #186
@arkivanov  an invite to private repo has been sent to you, I appreciate your help sir, Thank You

[2021-02-23 11:56] arkivanov commented on #186
I will check it tonight, thanks!

[2021-02-23 14:32] Shabinder commented on #186
hey @arkivanov I think I might have figured out the issue,
upon list Item Update , I only change value of a property which is of a sealedClass Type! see below:
![image](https://user-images.githubusercontent.com/44765050/108857804-78509280-7611-11eb-9346-4a302485628d.png)

![image](https://user-images.githubusercontent.com/44765050/108857838-81416400-7611-11eb-961d-1a1f535341ac.png)

I believe reco

[2021-02-23 14:48] arkivanov commented on #186
@Shabinder From what I can see from the snippets provided, the `download` property is mutable. I did not check the reproducer yet, but if you only change the mutable property, it might now trigger re-composition.

[2021-02-23 16:29] Shabinder commented on #186
@arkivanov  instead of just changing that mutable variable , copying the whole object while assigning the new status is progress did the trick.
Thanks for your help.

[2021-02-23 16:29] #186 closed

[2021-02-24 17:27] xpathexception opened #188 "Receiving output from Bootstrapper at start"
I have an activity and couple of feature fragments in my application. I would like to decide what fragment to open at start before any user input. To do that I need to do some preparations, so Bootstrapper looks like the right thing to use.

I created [simple sample](https://github.com/xpathexception/MVIKotlin/tree/bootstrapper-sample) illustrating what I'm trying to achieve, but it is not working

[2021-02-24 18:09] arkivanov opened #189 "Allow Stores instantiation from non-main threads"
Jetpack Compose will have multi-threaded compositions at some point, and so it should be possible to instantiate `Stores` from non-main threads. The `Bootstrapper` is currently invoked from `Store` constructor, it should continue be executing on main thread. We probably need an ability to manually trigger the `Bootstrapper`.

[2021-02-24 18:24] arkivanov commented on #188
@xpathexception Thanks for the question. The `Bootstrapper` is executed at some point during `Store` instantiation, so like inside its constructor. At this point there are no listeners yet.

You can fix it in three ways:
1. Pass a trigger to the `Store`, so the `Bootstrapper` can wait for it
2. Use a bootstrapping `Intent` instead of the `Bootstrapper`, e.g. `Intent.Bootstrap`
2. Wait until I add

[2021-02-25 09:10] xpathexception commented on #188
@arkivanov, thanks for your quick and detailed response! This is exactly what I needed!

[2021-02-25 09:10] #188 closed

[2021-02-25 18:38] steam0111 opened #190 "Why"
bind(lifecycle, BinderLifecycleMode.CREATE_DESTROY, Dispatchers.Main.immediate) {
            inputChannel.asFlow().mapNotNull(inputToListIntent) bindTo mapStore
        }

[2021-03-02 15:53] tieskedh opened #191 "make Reducer a fun interface?"
Maybe it's an idea to make Reducer a fun-interface?

[2021-03-02 19:13] arkivanov commented on #191
This sounds like a good idea! Would you like to submit a PR?

[2021-03-05 07:43] tieskedh commented on #191
I'll create the PR on saturday

[2021-03-05 09:21] pchmielowski opened #192 "java.lang.IllegalArgumentException: Value was not initialized when calling dispatch(result) in Executor's init block"
I've noticed that calling `dispatch` in `SuspendExecutor` `init` block results in the exception.
Library version: 2.0.1

Exception can be reproduced with the following code:
[code]

Result:
[code]

I'd appreciate any feedback if calling `dispatch(result)` in `init` block is an anti-pattern. The real world example where I've discovered the issue was similar to:
[code]

[2021-03-05 10:08] arkivanov commented on #192
Hi @pchmielowski . This is by design, the `Executor` nerds to be initialised by `Store` before it can emit anything. You can use `Bootstrapper` of you need to perform actions when the `Store` is created.

[2021-03-05 11:58] pchmielowski commented on #192
Thanks for clarification!

[2021-03-05 11:58] #192 closed

[2021-03-08 16:33] Shabinder opened #195 "MVI Kotlin (JS) is compatible/tested with which coroutines version?"
I just did setup for my project for JS-Browser target and I am getting following issue:
![image](https://user-images.githubusercontent.com/44765050/110350298-95498480-8059-11eb-9bce-952dea44738c.png)

![image](https://user-images.githubusercontent.com/44765050/110350825-1f91e880-805a-11eb-8054-743e09a3a032.png)

Issue seems like a coroutines bug to me.... So I tried with with 2 different version 1

[2021-03-08 16:40] arkivanov commented on #195
@Shabinder Seems like the invitation has expired. Could you please try once again?

[2021-03-08 16:40] Shabinder commented on #195
sure, 1 second

[2021-03-08 16:42] Shabinder commented on #195
@arkivanov  New Invitation sent.

[2021-03-08 16:42] arkivanov commented on #195
As of coroutines version, the `mvikotlin-extensions-coroutines` module is the only module that depends on coroutines, the version is`1.4.2`.

[2021-03-08 16:43] Shabinder commented on #195
yup tried on 1.4.2 , still same error

[2021-03-08 17:22] arkivanov commented on #195
I can't find the code in the project, could you please point me on the exact location?

[2021-03-08 17:25] arkivanov commented on #195
Sorry I was confused by the code snippet, just realised it is the MVIKotlin's code. I will check.

[2021-03-08 17:35] arkivanov commented on #195
@Shabinder Could you please provide steps to reproduce?

[2021-03-08 17:51] Shabinder commented on #195
just launch ,
`
./gradlew :web-app:browserDevelopmentRun --continuous `

after building , brower will open ,and you can navigate through the stacktrace in **console**.

[2021-03-08 17:54] Shabinder commented on #195
I believe the bug could be maybe related to this code too,I am not sure tho...
**web-app/src/main/kotlin/extras/RenderableComponent.kt: LINE 22**

[2021-03-08 19:46] audkar opened #196 "Drop android() target and use plain jvm() for mvikotlin-main subproject"
Can `mvikotlin-main` sub-project be plain `jvm()` target (without android)? I can't find any code which depends on Android in it or it's dependencies. My use-case would be having plain jvm feature modules in my android application.

Benefits for plain jvm feature modules:
- leaner submodules (without android gradle plugin) = faster Gradle configuration
- no separate artifact for android (`mvikotli

[2021-03-08 20:06] arkivanov commented on #195
@Shabinder The issue seems indeed in Coroutines or Kotlin/JS. I tried using MVIKotlin `2.0.1` with `mvikotlin-extensions-coroutines` module in Decompose Counter JS app (in shared module), it works just fine. So it looks like something specific in your project causes the error. I can't do anything at this point, unfortunately. I recommend you to do the following:
1. Report the error to [Kotlin YouT

[2021-03-08 20:10] arkivanov commented on #196
Hello @audkar . MVIKotlin targets both `android` and `jvm`. So depending on your setup Gradle will keep proper dependencies.

[2021-03-08 20:29] audkar commented on #196
Ups.. Miss-configuration on my side. Everything works.

Still seems strange to have android target for three additional packages when no android specific implementation is used. Anyway... Really nice work on this awesome project!

[2021-03-08 20:29] #196 closed

[2021-03-09 09:08] Shabinder commented on #195
@arkivanov  hey , I found the cause , but I dont Understand .....

if i override a  flow variable in class Body like below , all works fine!
![image](https://user-images.githubusercontent.com/44765050/110445902-9d9ad180-80e4-11eb-8ab6-a815f8b3edab.png)

but if I override it in constructor instead like below, it again throws error that .collect{} is not a function
![image](https://user-images.githu

[2021-03-09 10:38] arkivanov commented on #195
@Shabinder this indeed looks like a compiler bug and worth reporting it to Kotlin YouTrack!

[2021-03-09 11:06] arkivanov commented on #195
Thank you very much @Shabinder for investigating and reporting the issue!

[2021-03-17 17:48] Shabinder opened #199 "Js(IR Compiler) variant support?"
Is there support for using this in project built with IR compiler instead of Legacy as legacy leads to huge .js files and IR is more optimised than legacy.

[2021-03-17 22:25] arkivanov commented on #199
Thanks for the question, I will consider enabling IR mode.

[2021-03-19 04:51] mikezliu opened #200 "Adding dependency on mvikotlin 2.0.1 in a multiplatform project, there is a gradle error about samplesources"
When adding a gradle dependency to mvikotlin in my multiplatform's commonMain sourceset, I am getting a build error. If I add the dependency in my android app's build gradle file, I'm not seeing an error (so it seems to not be a jcenter issue). It seems to be searching for samplesources when I include the dependency in my multiplatform project.

implementation "com.arkivanov.mvikotlin:mvikotlin:2.

[2021-03-19 09:43] arkivanov commented on #200
Hi. What targets do you support? Looks like your issue is answered here: https://stackoverflow.com/questions/65892546/gradle-doesnt-look-for-dependency-in-the-right-way?noredirect=1#comment116502860_65892546

[2021-03-19 09:46] mikezliu commented on #200
I'm currently supporting these targets in my multiplatform project:

commonMain, jvmMain, iosMain, iosArm32Main, iosArm64Main

commonTest, iosArm32Test, iosArm64Test

Thanks for the link - taking a look

[2021-03-19 09:51] arkivanov commented on #200
As written in the readme, only the following targets are currently supported: Android, JVM, JavaScript, iosX64, iosArm64, macosX64, linuxX64

[2021-03-19 09:52] mikezliu commented on #200
Got it, thanks

[2021-03-19 09:52] #200 closed

[2021-03-23 15:05] dalewking commented on #191
You want a PR for just adding the keyword "fun" in front of the interface?

[2021-03-23 15:13] arkivanov commented on #191
Well yes. I can do it by myself probably later this week.

[2021-03-24 03:24] dalewking commented on #191
While you're at it ViewRender should also be a fun interface

[2021-03-24 08:37] arkivanov commented on #191
I would keep `ViewRenderer` as it is unless there is a use case.

[2021-03-24 14:52] dalewking commented on #191
What is the use case for NOT making `ViewRenderer` a fun interface. Basically any interface with a single abstract non-suspend method should probably be a fun interface unless there is a compelling reason not to

The use case is that I am not using MviView mostly because I don't want to use ViewEvents on Android since I am using FlowBinding library to create a Flow<Event> directly without all the

[2021-03-24 15:28] arkivanov commented on #191
I think in your case you can just use normal functions, so your renderer becomes just a consumer of ViewModels: `(Model) -> Unit`.
Regarding `BaseMviView`: you can just override its `render` method, no need to assign the `renderer` property.
The `ViewRenderer` interface is not meant to be created anonymously, but if you think it makes sense then let's make it `fun` interface as well.

[2021-03-24 18:26] dalewking commented on #191
Except that is not type compatible with diff function

But you allow for it so someone could want to use the property

Which was my point because I do want to create it anonymously

[2021-03-24 18:31] arkivanov commented on #191
Could you kindly provide a code snippet? From my point of view, you either use `diff` or normal Kotlin functions. In neither case you need to create `ViewRenederer` anonymously.

[2021-03-24 18:51] dalewking commented on #191
So in my case I have no MviView implementation class. The controller onViewCreated looks like this:

    fun onViewCreated(
        viewLifecycle: Lifecycle,
        renderer: ViewRenderer<State>,
        intents: Flow<Intent>,
        eventHandler: suspend (Event) -> Unit
    ) {
        bind(viewLifecycle, BinderLifecycleMode.CREATE_DESTROY) {
            intents bindTo store
            store.s

[2021-03-24 18:54] arkivanov commented on #191
Thanks, that is a valid use case Indeed. Will love to make `ViewRenderer` a fun interface.

[2021-03-24 18:57] dalewking commented on #191
That sure was a lot of discussion to get a total of 4 characters added to a file

[2021-03-24 19:01] arkivanov commented on #191
This is because I want all changes to be reasonable.

[2021-03-24 22:10] arkivanov commented on #191
Looks like marking an interface as `fun` may be a breaking change.

For example, the following case fails with `StackOverflowError` after making `ViewReneder` a fun interface:
[code]

This function becomes recursive once `ViewRenderer` is marked as `fun`, because now this lambda is treated as `ViewRenderer` due to SAM conversion.

I think I will keep `ViewRenderer` as it is for now. You can add th

[2021-03-25 18:25] Shabinder commented on #199
Maybe in **next update**? enable support for **both compilers**...?
![image](https://user-images.githubusercontent.com/44765050/112524163-825ae200-8dc5-11eb-9587-c01146b0f8d4.png)

[2021-03-25 19:07] arkivanov commented on #199
Yes, this is what I'm thinking about. Thanks!

[2021-03-25 20:46] dalewking opened #206 "Would be nice to have a way to dispatch multiple Results in one shot"
Imagine that an Executor needs to make multiple updates to the state which requires dispatching multiple Results but you may want that set of actions to be applied as one atomic update to the State. Sure I could combine the notion into a single Result but that can lead to code duplication in the Reducer.

What would have been nice is if onDispatch (and dispatch in SuspendExecutor) instead of takin

[2021-03-25 20:57] arkivanov commented on #199
I tried to enable IR mode for JavaScript but hit the following bug: [KT-42073](https://youtrack.jetbrains.com/issue/KT-42073). Same for Reaktive actually, could not enable IR mode as well. I will try to find a workaround, but at the moment I'm out of ideas.

[2021-03-25 21:14] arkivanov commented on #206
Thanks! Are there any issues with producing multiple Results with multiple State emissions? I usually produce multiple Results when needed and never experienced any performance/UI/UX issues. This should work fine because there should be no thread switching between State emissions and UI updates, so the UI is always updated on the same call stack. Given you are using `diff` or any other similar thi

[2021-03-25 21:16] #191 closed

[2021-03-25 22:33] dalewking commented on #206
It is more of a question of state consistency and the possibility of outputting a state that is not consistent. For example you might have an isValid property on the state that is a combination of other states. There are ways around it.

I am refactoring an existing view model and moving it toward an MVI API without actually adding MviKotlin so was implementing a dispatch and reducer myself and re

[2021-03-25 22:41] arkivanov commented on #206
Thanks for the use case! I think that Reducer should be the only guarantee of the state consistency, as it is its primary responsibility. Relying on the fact that a series of Results should produce consistent state is very error prone. I recommend to actually create a separate Result class if the consistency is concerned.

[2021-03-26 19:52] arkivanov commented on #199
I was able to find a workaround for [KT-42073](https://youtrack.jetbrains.com/issue/KT-42073), but got another issue: [KT-44796](https://youtrack.jetbrains.com/issue/KT-44796). I think we'll need to wait for Kotlin 1.5.

[2021-03-26 20:23] arkivanov commented on #199
FYI: enabled JS IR Compiler for Decompose.

[2021-04-08 10:56] arkivanov opened #207 "Describe Results and Labels in more detail in the documentation"

[2021-04-13 06:13] dalewking opened #209 "Better support for executor creating actions"
I know that Actions are there for bootstrapped but I find the desire to have the executor itself be able to initiate actions. There can be multiple reasons to do that. One might be that you have common core handling an action that might also need to make occur when handling an intent and it is more convenient to just send the same action. It can also just be a better way to organize code into name

[2021-04-13 09:50] arkivanov commented on #209
Hi @dalewking, thanks for raising this and for the use cases provided.

The original idea was to handle all additional actions internally in the `Executor`. E.g. you can extract the `Action` handling into separate private functions, which can be called at any point of time internally by the `Executor`. But as you mentioned, it is kinda "bypassing". So I find your idea worth to consider. I will nee

[2021-04-13 18:58] dalewking commented on #209
Yes, I am aware that I could hack it that way to go through the Bootstrapper, but it kind of points out why the design is questionable.

The way I see it. If Executor can initiate Actions itself there is no need for Bootstrapper to even exist. Bootstrapping would then just be done in the Executor in response to the init call.

I should let you know that over the weekend I ported the basic Store fu

[2021-04-13 19:29] arkivanov commented on #209
Thanks for the input. Are you actually using the library or just porting it?

[2021-04-13 19:29] dalewking commented on #209
porting it

[2021-04-14 20:52] dalewking commented on #207
I think Labels is a confusing name, I call them Events as they say an event occurred but do not affect the current state

[2021-04-14 20:56] dalewking commented on #206
It just dawned on me that all that can be handled by creating a combined result type and handling it in the reducer, which is exactly the workaround you gave me that I glossed over. Closing as well that is the correct way to do it

[2021-04-14 20:56] #206 closed

[2021-04-14 21:41] arkivanov commented on #207
Event is usually used by View, to avoid clashing I came up with Label naming. Another variant was Effect, but Label won as more neutral.

[2021-04-14 22:27] dalewking commented on #209
Here is a link to a dump of my dart version. No documentation or comments: https://gitlab.com/dalewking/dart_mvi

[2021-04-14 22:37] arkivanov commented on #209
Thanks! Glad to see the library is being ported to other languages!

[2021-04-23 18:07] arkivanov commented on #207
Closed via #214

[2021-04-23 18:07] #207 closed

[2021-04-23 18:07] arkivanov commented on #171
Closed via #214

[2021-04-23 18:07] #171 closed

[2021-04-23 18:09] arkivanov commented on #173
At the moment it's not a big dial to run all tests every time. Closing for now.

[2021-04-23 18:09] #173 closed

[2021-04-24 09:31] arkivanov commented on #189
Turned out this is not required. We can use `Lazy` and bootstrap `Stores` manually:

[code]

[2021-04-24 19:42] arkivanov commented on #187
Closing unless there is a real use case.

[2021-04-24 19:42] #187 closed

[2021-05-02 21:34] arkivanov commented on #209
I made a decition to not add this. At the moment the `Executor` has two inputs (`Intent` and `Action`) and two outputs (`Result` and `Label`). Making `Action` as the `Executor`'s input and output will add confusion and complexity to the internal `Store` system without significant benefits.

I recomment to just extract shared code to private functions:

[code]

As of pointlessness of the `Bootstrap

[2021-05-02 21:34] #209 closed

[2021-05-05 20:07] Shabinder commented on #199
Hey @arkivanov,
Do #218 _(Kotlin 1.5)_ make it possible to build for IR

[2021-05-05 20:10] arkivanov commented on #199
Hey @Shabinder , that's actually the reason why updated to Kotlin 1.5.0 :-) Pushed changes to #205, will see how it will build. Also just noticed that [KT-42073](https://youtrack.jetbrains.com/issue/KT-42073) has target version 1.5.20, so there will be still a workaround.

[2021-05-05 20:15] Shabinder commented on #199
Fingers Crossed 🤞 ,
and let's hope Kotlin/JS Team catches up quick with [KT-42073](https://youtrack.jetbrains.com/issue/KT-42073)

[2021-05-05 20:35] #199 closed

[2021-05-05 21:13] arkivanov commented on #199
@Shabinder version `2.0.3` is released with Kotlin 1.5.0 and JS IR mode. Please allow a few hours for Maven Central to sync everything.

[2021-05-15 13:27] #76 closed

[2021-05-18 09:24] arkivanov opened #227 "Add information to the docs about emissions on the main thread"

[2021-05-27 07:33] plusmobileapps opened #229 "Add watchOS support"
* Apple watchOS on ARM64 (Apple Watch Series 4 and newer)
* ARM32 (earlier models) platforms
* desktop simulators

[2021-06-02 07:33] maxtox3 opened #230 "Deploy JS sample app to hosting as working example"
It would be great to have a link in the project description (README) so that everyone can see a working example without having to build the project themselves.
For example, the sample can be deployed on github-pages or heroku.

[2021-06-02 09:18] arkivanov commented on #230
We have two samples, and will have more in future. In this case why not to provide pre-built packages for other platforms? To me it looks like overcomplicated. Maybe having screenshots/GIFs is enough?

[2021-06-06 22:26] arkivanov commented on #229
Blocked by https://github.com/badoo/Reaktive/issues/617

[2021-06-11 16:03] ultraon opened #235 "Memory leak using "LifecycleExt.kt""
Hello Arkadiy, thank you very much for such a great library!

It seems to me there is a memory leak in this file:
https://github.com/arkivanov/MVIKotlin/blob/bad123550ff7e451708280efbc4394ffdc347107/mvikotlin/src/commonMain/kotlin/com/arkivanov/mvikotlin/core/lifecycle/LifecycleExt.kt#L49

Probably for all these methods: `Lifecycle.doOnResumePause`, `Lifecycle.doOnPause`, `Lifecycle.doOnStartStop`

[2021-06-11 16:23] arkivanov commented on #235
Hi @ultraon and thanks for the feedback!

All those extensions were designed to be called only once for the lifetime, and so calling them from `onStart` on `onResume` is currently considered incorrect. But you are right, calling `doOnStop` from `onStart` or `doOnPause` from `onResume` actually makes sense.

What do you think about the following API?

[code]

If the `isOneOff` flag is set to `true`

[2021-06-11 17:57] ultraon commented on #235
Why do you think returning `Disposable` (or you can name it in another way) is worse? It is more flexible and controllable by a client side.

I can understand your intention in terms of KMM and extensions e.g. Reactive/Suspend, in this case I would agree with your suggestion, regarding naming I think you may also consider `oneShot`, `oneTime` (this term is used by Android WorkManager lib - `OneTim

[2021-06-11 19:13] arkivanov commented on #235
My intention here is to simplify as much as possible most common use cases. For advanced use cases there are main `Lifecycle.subscribe` and `Lifecycle.unsubscribe` methods. So you can either use it directly or add your own extensions.

[2021-06-11 22:05] ultraon commented on #235
Yes, you are right, thanks for the hint!

[2021-06-11 22:30] arkivanov commented on #235
Alright, I will add the argument, thanks!

[2021-06-11 22:52] michaelr-tradesy opened #236 "Unit Testing the CalculatorStoreFactory (from the website tutorial)... ???"
Hi...

My apologies in advance for submitting a new issue. I felt that this is the best way to contact you and collaboratively provide insight on approaching the topic at hand...

After following the instructions and information provided on [this website](https://arkivanov.github.io/MVIKotlin/binding_and_lifecycle.html) in order to build the calculator mobile app, I now want to write unit tests ag

[2021-06-11 22:55] #236 closed

[2021-06-14 18:07] arkivanov commented on #235
Will be delivered in version `2.1.0`

[2021-06-14 18:07] arkivanov commented on #189
Will be delivered in version 2.1.0

[2021-06-14 18:09] arkivanov commented on #71
Closing this in favour of the stand-alone client app. There also well be an updated version of the app, built with Compose for Desktop.

[2021-06-14 18:09] #71 closed

[2021-06-14 19:04] #229 closed

[2021-06-15 10:03] arkivanov commented on #229
Released in the version `2.0.4`

[2021-06-23 05:10] kejiro commented on #179
I think there is one a mistake in the docs regarding this still:

[code]

shouldn't it be:

[code]

[2021-06-23 07:24] arkivanov commented on #179
Thanks, I will fix the doc!

[2021-07-21 19:49] #179 closed

[2021-07-26 20:46] arkivanov opened #264 "Rename SuspendExecutor to CoroutineExecutor and SuspendBootstrapper to CoroutineBootstrapper"
Via deprecation

[2021-07-28 13:45] falcon4ever opened #267 "Can't export time travel data"
It looks like the export option for time travel data is not working correctly. I was trying out the time travel feature using the [TodoApp project](ttps://github.com/JetBrains/compose-jb/tree/master/examples/todoapp) and the export button does not open up a dialog on where to save the data. See recording: https://youtu.be/vVxzPba4078

Dev Environment:
- Mac OS X Catalina 10.15.7
- Android Studio A

[2021-07-28 14:04] arkivanov commented on #267
Hello @falcon4ever . I think this question is more relevant to MVIKotlin than Decompose, so transferred it.

The export/import feature currently only works for JVM and Android, and requires `States`, `Intents`, `Labels`, `Actions` and `Results` to be `Serializable`. The latter is not the case for the [TodoApp](https://github.com/JetBrains/compose-jb/tree/master/examples/todoapp) example in the `co

[2021-07-28 14:08] falcon4ever commented on #267
Apologies, having both projects opened in the browser and I posted in the wrong one 🤦‍♂️ thanks for moving it.

Ah, thanks for the explanation! Will try out your suggestion

[2021-08-02 01:07] arkivanov commented on #264
Closed via #265

[2021-08-02 01:07] #264 closed

[2021-08-02 01:09] arkivanov commented on #235
Fixed via #259

[2021-08-02 01:09] #235 closed

[2021-08-02 01:10] arkivanov commented on #189
Closed via #217

[2021-08-02 01:10] #189 closed

[2021-08-02 01:11] arkivanov commented on #167
Clised via #251

[2021-08-02 01:11] #167 closed

[2021-08-02 01:16] arkivanov commented on #227
Closed via #217

[2021-08-02 01:16] #227 closed

[2021-08-21 03:30] dalewking opened #279 "BypassReducer does nothing"
The bypass reducer seems to me to be completely worthless. The documentation does not really talk about it, but my thought of why you would want to not provide a reducer and just rely on the bypass reducer is when you don't want to create a Result type and your state is so simple that instead of the executor having to send Results that specify how to change the state and can just output the new st

[2021-08-21 06:50] arkivanov commented on #279
There is no such a thing `BypassReducer`, there is a [private property](https://github.com/arkivanov/MVIKotlin/blob/52371c95cb65a9cba213b69d1a8d4de88e9709b8/mvikotlin/src/commonMain/kotlin/com/arkivanov/mvikotlin/core/store/StoreFactory.kt#L34) `bypassReducer` defined in the `StoreFactory` interface. It is **private** and is used when you don't supply a `reducer` when creating a `Store`.

The use

[2021-08-21 23:59] dalewking commented on #279
That sounds like a pretty rare use case. I would think the use case of where Result and State are the same object are the same type and you just want to output whatever state the executor outputs as the new state would be more common.

But no matter, I can easily workaround it by setting the reducer to `{ it }`

FYI, my use case where I am running into this is trying to create a MockStore and I ju

[2021-08-22 07:09] #279 closed

[2021-09-02 20:32] arkivanov opened #280 "Support new Apple silicon targets"
More info: https://kotlinlang.org/docs/whatsnew1530.html#apple-silicon-support

[2021-09-13 19:04] arkivanov opened #284 "Try to allow Stores with same names when using time travel"
Currently `TimeTravelController` throws "Duplicate store" exception when another `Store` with same is registered. Let's try to remove this restriction.

[2021-09-15 11:29] ultraon opened #285 "Suggestion to improve API for CoroutineExecutor"
Hello Arkadii, thanks for this great library.
I have a suggestion to improve the `CoroutineExecutor` contract, literally, it simplifies the usage of explicit `scope` property.

[code]

Then we can use `CoroutineExecutor` in this way:
[code]
To do that with existing contract I should:
[code]

[2021-09-15 12:22] arkivanov commented on #285
Hello @ultraon and thanks for the idea!

First of all I would like to stress, that providing the `CoroutineScope` as a `property` was an explicit design decision. Making custom classes to implement `CoroutineScope` is discouraged, according to docs, various messages in Slack and some articles: [Docs page](https://github.com/Kotlin/kotlinx.coroutines/blob/287a931d3b8ce534757c6c2399eb72e6574bcf69/ko

[2021-09-18 16:01] ultraon commented on #285
It’s a pretty good explanation, thank you.

[2021-09-18 16:01] #285 closed

[2021-09-27 23:10] arkivanov opened #291 "Add settings dialog to the time travel IDEA plugin"
The time travel client app has the settings dialog, but the plugin doesn't. Would be good to add it. The theme switching check box should not present, because theme is taken from IDE.

[2021-09-27 23:14] arkivanov opened #292 "Describe the time travel feature in more detail"
We can improve documentation and add more information about using the IDEA plugin and the client app.

[2021-09-28 23:11] plusmobileapps commented on #292
Want to assign this to me? I could take care of this having just played around with it.

[2021-09-29 08:13] arkivanov commented on #292
Sure @plusmobileapps, thanks for helping!

[2021-09-29 22:00] arkivanov commented on #267
Closing for now, feel free to reopen if there are still any issues.

[2021-09-29 22:00] #267 closed

[2021-10-10 19:00] arkivanov opened #296 "Add binary-compatibility-validator plugin to all published modules"
Link: https://github.com/Kotlin/binary-compatibility-validator

[2021-10-17 00:32] #284 closed

[2021-10-17 10:45] arkivanov opened #304 "Consider better names for Action and Result"
Currently Actions are sent from Bootstrapper to Executor and Results are sent from Executor to Reducer. But sometimes it might be confusing, because we need to send an action to the Reducer, or a result to the Executor. Maybe we should find neutral names instead?

[2021-10-31 12:15] Nikola-Milovic commented on #304
Can you elaborate on this part @arkivanov  ?

What would be an example of sending an action to a Reducer or a result to the Executor?

[2021-10-31 12:47] arkivanov commented on #304
@Nikola-Milovic

If a Store don't need any async processing, then the Executor can be avoided, and so the Reducer processes Intents directly. Intents are calls to actions, they are usually written as imperative verbs, e.g. `Intent.RemoveUser`. In this case the Reducer processes commands, not results.

Another case could be, when you did some calculations in the Executor. And as a result you might

[2021-11-07 17:48] arkivanov opened #309 "TimeTravelServer for web"
We need to investigate possibility of implementing the TimeTravelServer for web/JS. Currently it is available for JVM/Android and Darwin/Apple. Would be good to add web support as well.

[2021-11-13 14:47] arkivanov commented on #309
It looks like not possible to open a TCP server on a web page. Maybe we can write a Chrome extension for that?

[2021-11-19 08:30] arkivanov opened #310 "Broken links in the time travel docs"
Docs: https://arkivanov.github.io/MVIKotlin/time_travel.html

There are broken links in the "Time travel client app for desktop" section.

[2021-11-21 13:20] arkivanov opened #311 "Setup CI for publishing the time travel desktop app"
The time travel desktop app should be built and uploaded to packages on release.

[2021-12-04 17:21] shynline opened #312 "CoroutineExecutor doesn't use coroutine in version 3 alpha 2"
https://github.com/arkivanov/MVIKotlin/blob/4bad89cb0b5aee04e3e9fa04d90bd4fbbc37900e/mvikotlin-extensions-coroutines/src/commonMain/kotlin/com/arkivanov/mvikotlin/extensions/coroutines/CoroutineExecutor.kt#L33-L35

https://github.com/arkivanov/MVIKotlin/blob/4bad89cb0b5aee04e3e9fa04d90bd4fbbc37900e/mvikotlin-extensions-coroutines/src/commonMain/kotlin/com/arkivanov/mvikotlin/extensions/coroutines/

[2021-12-04 17:24] arkivanov commented on #312
Hello, could you please elaborate? What do you think is not right?

[2021-12-05 09:39] arkivanov commented on #312
Now it's clear what you mean. I will copy my message from Kotlin Slack here for transparency.

Both `executeAction` and `executeIntent` were suspending functions a while ago, but it was an explicit decision to make them normal.

There is `scope` properly available which you can use to launch coroutines when needed. You can check samples: https://github.com/arkivanov/MVIKotlin/blob/master/sample/to

[2021-12-05 11:54] shynline commented on #312
Oh, I see.
I honestly didn't know about the decision and also, comments for those functions didn't help since they're mentioning suspend function still.
thanks

[2021-12-05 12:00] arkivanov commented on #312
Good point! I think we need to update KDocs instead.

[2021-12-07 21:17] dalewking opened #314 "How to work around bootstrapper action publishing label before listener set up"
I'm running into an issue where processing a BootStrapper action can cause a label to be published asynchronously as soon as the store is created, but it happens before I can subscribe to the labels. Outside of scrapping the bootstrapper and creating an Initialize intent I am not sure how to fix this.

[2021-12-07 21:29] arkivanov commented on #314
You can opt-out from the automatic Store initialization and call its `init` method manually. It's available in the version `3.x`. Please refer to the documentation: https://arkivanov.github.io/MVIKotlin/store.html

Also you can pass a trigger to a Store, please check the following: https://github.com/arkivanov/MVIKotlin/issues/188

[2021-12-07 21:42] dalewking commented on #314
What do you foresee as the timeline for a release with this feature? If it will be released in a couple of months I will just upgrade to the alpha and to the release when it is released. If it is more like 6 months then I will probably have to switch to an Initialize intent.

[2021-12-07 21:46] dalewking commented on #314
Or is there any chance of having you do a 2.1.0 release with this fix?

[2021-12-07 21:46] arkivanov commented on #314
It is definitely no more than 3 months.

[2021-12-07 21:47] arkivanov commented on #314
Unfortunately 2.1.0 with this change does not look possible, because it is a breaking API change.

[2021-12-17 09:50] arkivanov commented on #291
Moved to https://github.com/arkivanov/MVIKotlin/issues/7

[2021-12-17 09:50] arkivanov commented on #304
Moved to https://github.com/arkivanov/MVIKotlin/issues/6

[2021-12-17 09:50] arkivanov commented on #310
Moved to https://github.com/arkivanov/MVIKotlin/issues/4

[2021-12-17 09:51] arkivanov commented on #311
Moved to https://github.com/arkivanov/MVIKotlin/issues/3

[2021-12-17 09:51] arkivanov commented on #312
Moved to https://github.com/arkivanov/MVIKotlin/issues/2

[2021-12-21 22:22] ultraon opened #8 "After making this repo as fork, search in the repository doesn't work"
**Not related to the library itself, but would be nice to have it as an issue.**

Hello @arkivanov , I've noticed that search in the repo doesn't work anymore.
Even tried with suggested approach, still no success:
https://docs.github.com/en/search-github/searching-on-github/searching-in-forks

I tried this request also:
https://github.com/search?q=isAssertOnMainThreadEnabled+repo%3Aarkivanov%2FMVI

[2021-12-21 23:24] arkivanov commented on #8
Yes unfortunately this is true, I mentioned this limitation in the readme. There are two ways of fixing this:

1. Make this repository more stars than upstream
2. Try to unfork the repository, probably by asking GitHub support

The community can definitely help with the first point. And I will try the second option once this repository diverge significantly enough.

Thanks for raising the issue, l

[2021-12-22 13:29] arkivanov commented on #1
Closing this issue for now, feel free to reopen if there are any problems.

[2022-01-16 17:19] kassablanka opened #317 "Mvi"

[2022-02-03 20:50] arkivanov opened #21 "Selecting ADB path in the IDEA plugin crashes on macOS"
`FileChooser` should be called on the main thread, not on the IO thread.

[code]

[2022-02-07 11:04] #21 closed, assigned to nobody

[2022-03-28 08:29] arkivanov commented on #8
The repository was detached from the parent, the code search now works! Thanks for all your support! ♥️

[2022-03-28 08:30] #8 closed, assigned to nobody

[2022-04-03 22:12] arkivanov opened #27 "Make lifecycle and instance-keeper dependencies non-api"
Currently the `mvikotlin` module has `lifecycle` and `instance-keeper` dependencies defined as `api`. They should be `implementation`.

[2022-05-10 16:10] arkivanov opened #33 "Consider executeIntent and executeAction in DSL"

[2022-05-12 17:20] dalewking opened #35 "Null Pointer exceptions in log when running unit tests"
We run unit tests in KMM on our stores which are using coroutines and when the test runs we see exceptions like this in the log:
[code]

This does not actually cause the tests to fail, but is annoying seeing this noise in the logs. It fails because we are not actually running on an Android device so there is no main looper. You have the `isAssertOnMainThreadEnabled` variable to disable maint threa

[2022-05-12 17:43] arkivanov commented on #35
Thanks! This is just an error message in logs, should by only printed once. I will think if I can improve something here.

[2022-05-15 13:40] arkivanov commented on #33
After some digging and experimenting, there some downsides:

1. The ability to execute Intents and Actions from DSL handlers would make the API more complex. E.g. `CoroutineExecutorScope` and `ReaktiveExecutorScope` would receive two additional type parameters - `Intent` and `Action`.
2. Currently the data flow in DSL-based code is kinda uni-directional. E.g. handlers have `Intent` and `Action` as

[2022-05-15 13:40] #33 closed, assigned to arkivanov

[2022-05-15 13:43] arkivanov commented on #27
This looks fine actually.

[2022-05-15 13:43] #27 closed, assigned to arkivanov

[2022-05-15 14:03] #35 closed, assigned to nobody

[2022-06-17 17:04] treitter opened #42 "todo-app-android and todo-app-ios dirs should be removed?"
It seems the directories `sample/todo-app-{android,ios}` were effectively split up between the coroutines and reaktive versions but a few files are left in the old locations.

Most notably, I updated my git checkout and tried to load `sample/todo-app-ios/todo-app-ios.xcodeproj` unsuccessfully because its dependencies are now missing.

[2022-06-17 17:09] arkivanov commented on #42
Those directories are no longer present in the repository, as you can see here: https://github.com/arkivanov/MVIKotlin/tree/master/sample

As you mentioned, folders `sample/todo-app-{android,ios}` were moved under `sample/coroutines` and `sample/reaktive`.

[2022-06-17 23:29] treitter commented on #42
Ah, you're right. Git noted them being untracked so a `git clean -xdf` removed them. I guess it refused to delete (untracked) `build` directories and the Xcode project file was probably retained because I had Xcode open at the time.

Thanks for confirming!

[2022-06-17 23:29] #42 closed, assigned to nobody

[2022-06-19 21:02] arkivanov opened #43 "Update docs after 3.0.0 release"
- Time Travel Client App is now packaged on CI for Linux and Windows, macOS can be packaged locally from sources
- Time Travel IDEA plugin is able to connect to Darwin and JVM apps

[2022-07-13 22:04] arkivanov commented on #43
Closed via #47

[2022-07-13 22:04] #43 closed, assigned to nobody

[2022-07-17 19:37] DSeeLP opened #48 "Time Travel app missing dependency"
Since compose-jb 1.1.1 `kotlinx-coroutines-swing` is no longer included. This leads to an error when clicking `Connect to application`.

[2022-07-17 19:43] arkivanov commented on #48
Oh no! Thanks for reporting, I will fix!

[2022-07-18 08:08] #48 closed, assigned to nobody

[2022-07-18 12:49] benjdero opened #50 "All the sample links are dead"
The links to sample projects in the ReadMe are dead.

Consider updating the doc to link the new sample projects, including maybe the one in compose-jb repository aswell.

[2022-07-18 12:52] arkivanov commented on #50
Thanks for pointing on that! That's because of the recent refactoring of the samples. I will update all the links.

[2022-07-18 13:41] arkivanov commented on #48
Thanks for fixing the issue! I have updated artifacts for Linux and Windows in the latest [v3.0.0](https://github.com/arkivanov/MVIKotlin/releases/tag/3.0.0) release.

[2022-07-18 14:05] #50 closed, assigned to nobody

[2022-07-29 20:19] arkivanov opened #54 "Update time travel docs"
The plugin functionality is actually similar to the desktop client app, it can connect to Android, JVM and Darwin apps. Also there are typos, e.g. "All recording events will appear ...".
Link: https://arkivanov.github.io/MVIKotlin/time_travel.html

[2022-07-29 20:26] Gilbert1817 commented on #54
Pls help,and guide me to fill-up for the guidelines.

[2022-07-29 20:35] arkivanov commented on #54
The source file is here: https://github.com/arkivanov/MVIKotlin/blob/master/docs/time_travel.md

There are the following mistakes:

- The section [Using time travel clients](https://github.com/arkivanov/MVIKotlin/blob/master/docs/time_travel.md#using-time-travel-clients) mentions only Android for the IntelliJ IDEA plugin, however it should be same as for the standalone desktop client. So both sect

[2022-08-09 09:30] DSeeLP opened #55 "TimeTravel can't handle enums"
TimeTravel can't serialize Enum implementing `JvmSerializable`

My Enum:
[code]

Stacktrace:
[code]

[2022-08-09 09:50] arkivanov commented on #55
Thanks for raising, I will fix it. Btw, `JvmSerializable` is not required for parsing, it's only for export/import events.

[2022-08-09 11:05] DSeeLP commented on #55
I also have a suggestion, catch the exception and rethrow a custom exception with it as cause and a message that explains the reason behind this error and maybe suggests adding the `@Transient` annotation.

[2022-08-09 12:15] arkivanov commented on #55
Usually it's not possible to know in advance what kind of exceptions could be thrown, especially with the lack of checked exceptions in Kotlin. This particular exception (`InaccessibleObjectException`) is not even [documented](https://docs.oracle.com/javase/8/docs/api/java/lang/reflect/AccessibleObject.html#setAccessible-boolean-) - there is only `SecurityException` mentioned, which is already han

[2022-08-18 21:00] #55 closed, assigned to nobody

[2022-08-19 00:17] arkivanov commented on #55
Fixed in version `3.0.2`.

[2022-08-24 17:55] arkivanov opened #60 ""Used by" list"
It would be good to have a list of companies/users/projects where MVIKotlin is used. I suggest to stick to the following format, but feel free to omit/add/modify any details. ❤️

Project name: \<project name\>
Project type: production/pet/sample
Company name: personal/\<company name\>
Supported platforms: Android, JVM, Web, iOS, macOS, etc.
Link (an open source repository or a web site): \<link\>

[2022-08-24 17:56] moffpage commented on #60
Project name: Vlife
Description: An ex super-app (more relevant) for motorists with loyalty programs, marketplace, payments and other services.
Company Name: LLC "GRAND ERA"
Project type: Production
Supported targets: currently only Android
You can install in in Google Play Store: https://play.google.com/store/apps/details?id=kz.vlife.grandera

[2022-09-10 17:36] arkivanov opened #61 "Investigate an IntelliJ IDEA plugin for automatic Store skeleton generation"
See the discussion #34 for more information.

[2022-09-11 12:09] serhiynovos opened #62 "Handing finishing coroutine executor"
Is the any correct way to get know about finishing coroutine executor.

For example, we have a some form and Save button. When user clicks Save button, we send intent to save this form on server side. Executor handles the intent and makes API call to server. After success response user is navigated  to another page, on error user see error message.

[2022-09-11 12:13] serhiynovos commented on #62
I tried to implement in using callbacks

## My Store

[code]

## Method from my component using Decompose library

[code]

[2022-09-11 12:29] arkivanov commented on #62
You can publish a Label from the Executor. Then you can observe labels somewhere and perform navigation. See https://arkivanov.github.io/MVIKotlin/store.html

[2022-09-11 12:30] #62 closed, assigned to nobody

[2022-09-15 06:37] MansonLuo opened #64 "hello. need some help"
hi,  i encount some serous problem that i struggle for several days.

I use MVIkotlin, its version is 2.0.4

there is a SuspendExecutor, following is my own source.

![mmexport1663223464647](https://user-images.githubusercontent.com/19282278/190331982-2f9b8b64-b2ef-4009-a61d-1cdfbf82733f.png)
![mmexport1663223468097](https://user-images.githubusercontent.com/19282278/190331986-cfae6f9e-7347-4b1f-8

[2022-09-15 06:38] MansonLuo commented on #64
the settings obj is from multiplatform-settings library,

[2022-09-15 08:18] denislfernandez opened #65 "Current support status for tvos target"
Hello  @arkivanov ,

First of all I want to congratulate and thank you for all the hard work you put on this library. I've been using it the past few months with a multiplatform app that runs on JS, Android and iOS and I am really happy with the results so thanks so much for your contribution to the community!

I was hoping to add tvos support to the application I was wandering what is the current

[2022-09-15 09:50] arkivanov commented on #65
Hello and thank you for the feedback! MVIKotlin doesn't support tvos for now. There should be just one line added [here](https://github.com/arkivanov/MVIKotlin/blob/8d06462eff0225a99111633cc99f024f8de2b52f/build.gradle.kts#L32) - `tvosCompat`. I believe after that the project should compile just fine and all tests should pass.

I will appreciate your help here.

[2022-09-15 11:11] arkivanov commented on #64
In version 2.x you can run parallel coroutines in the following way:

[code]

Also, it looks like you are just subscribing to external sources. It might be better to do in the `Bootstrapper` instead, and emit `Actions` to the executor so it could do the rest of the job. Actions could be `Action.HandleTokenActive(token)` and `Action.HandleFreeUserActive(boolean)`, or any other names you like.

[2022-09-15 11:11] #64 closed, assigned to nobody

[2022-09-24 10:53] arkivanov opened #67 "Consider Store.states extensions to return StateFlow and BehaviorObservable respectively"
Currently, `Store.states` extension functions return `Flow` and `Observable`. It would be better to return `StateFlow` and `BehaviorObservable` instead.

[2022-09-26 19:57] #67 closed, assigned to nobody

[2022-10-01 16:50] arkivanov opened #69 "Consider to not throw exceptions in Store.init"
Currently `Store.init` throws an error if the store is already initialized. This makes the initialization inconvenient if the store is retained via `InstanceKeeper`.

[2022-10-02 08:09] a-blekot commented on #60
Project name: Memorize shlokas (Sanskrit verses study)
Project type: production
Company name: personal (Aleksey Blekot)
Supported platforms: Android, iOS (ios not ready yet)
[PlayStore](http://play.google.com/store/apps/details?id=com.a_blekot.memorize_shloka)
[GitHub](https://github.com/a-blekot/memorize_shloka)

[2022-10-03 08:20] IlyaGulya commented on #69
This sounds awesome!
Currently I'm required to add `var isInifialized` to each `Store` to prevent double initialization when I need to init my `Store` lazily

[2022-10-03 08:35] Danzolax opened #70 "Allow .exe files in Time Travel ADB file picker"
When selecting the location of adb in the time-travel plugin, there is no possibility to select a file with the .exe extension.
![image](https://user-images.githubusercontent.com/56091783/193534495-359cb0b1-9792-481f-873a-38ce75de633c.png)

[2022-10-03 20:05] arkivanov commented on #70
1. [selectAdbPath](https://github.com/arkivanov/MVIKotlin/blob/ae716edd787ce657b84c8cb5987d6bb3e77ff8be/mvikotlin-timetravel-client/app-desktop/src/jvmMain/kotlin/com/arkivanov/mvikotlin/timetravel/client/desktop/Main.kt#L143) function in the desktop app.
2. [selectAdbPath](https://github.com/arkivanov/MVIKotlin/blob/a7bc4041b2493cd7fc8a289cc3da4097b54a9bc1/mvikotlin-timetravel-client/plugin-idea/

[2022-10-10 22:43] #65 closed, assigned to nobody

[2022-10-26 10:45] #69 closed, assigned to nobody